<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ClaseUsuario</display-name>
    <servlet-name>ClaseUsuario</servlet-name>
    <servlet-class>controladores.ClaseUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseUsuario</servlet-name>
    <url-pattern>/ClaseUsuario</url-pattern>
  </servlet-mapping>
  <display-name>MiWebDeportiva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Clase_usuario</display-name>
    <servlet-name>Clase_usuario</servlet-name>
    <servlet-class>controladores.Clase_usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clase_usuario</servlet-name>
    <url-pattern>/Clase_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listar</display-name>
    <servlet-name>Listar</servlet-name>
    <servlet-class>controladores.Listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listar</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseUsuarioFoto</display-name>
    <servlet-name>ClaseUsuarioFoto</servlet-name>
    <servlet-class>controladores.ClaseUsuarioFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseUsuarioFoto</servlet-name>
    <url-pattern>/ClaseUsuarioFoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUsuarios</display-name>
    <servlet-name>ListadoUsuarios</servlet-name>
    <servlet-class>controladores.ListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuarios</servlet-name>
    <url-pattern>/ListadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseUsuarios</display-name>
    <servlet-name>ClaseUsuarios</servlet-name>
    <servlet-class>controladores.ClaseUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseUsuarios</servlet-name>
    <url-pattern>/ClaseUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseCoordinador</display-name>
    <servlet-name>ClaseCoordinador</servlet-name>
    <servlet-class>controladores.ClaseCoordinador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseCoordinador</servlet-name>
    <url-pattern>/ClaseCoordinador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaListar</display-name>
    <servlet-name>PruebaListar</servlet-name>
    <servlet-class>controladores.PruebaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaListar</servlet-name>
    <url-pattern>/PruebaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseControlEconomico</display-name>
    <servlet-name>ClaseControlEconomico</servlet-name>
    <servlet-class>controladores.ClaseControlEconomico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseControlEconomico</servlet-name>
    <url-pattern>/ClaseControlEconomico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseListarUsuarios</display-name>
    <servlet-name>ClaseListarUsuarios</servlet-name>
    <servlet-class>controladores.ClaseListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseListarUsuarios</servlet-name>
    <url-pattern>/ClaseListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseListarControlEconomico</display-name>
    <servlet-name>ClaseListarControlEconomico</servlet-name>
    <servlet-class>controladores.ClaseListarControlEconomico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseListarControlEconomico</servlet-name>
    <url-pattern>/ClaseListarControlEconomico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClasePersonas</display-name>
    <servlet-name>ClasePersonas</servlet-name>
    <servlet-class>controladores.ClasePersonas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClasePersonas</servlet-name>
    <url-pattern>/ClasePersonas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseLogin</display-name>
    <servlet-name>ClaseLogin</servlet-name>
    <servlet-class>controladores.ClaseLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseLogin</servlet-name>
    <url-pattern>/ClaseLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseModificarUsuario</display-name>
    <servlet-name>ClaseModificarUsuario</servlet-name>
    <servlet-class>controladores.ClaseModificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseModificarUsuario</servlet-name>
    <url-pattern>/ClaseModificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseReservaServicioDeportivo</display-name>
    <servlet-name>ClaseReservaServicioDeportivo</servlet-name>
    <servlet-class>controladores.ClaseReservaServicioDeportivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseReservaServicioDeportivo</servlet-name>
    <url-pattern>/ClaseReservaServicioDeportivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseModificarControlEconomico</display-name>
    <servlet-name>ClaseModificarControlEconomico</servlet-name>
    <servlet-class>controladores.ClaseModificarControlEconomico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseModificarControlEconomico</servlet-name>
    <url-pattern>/ClaseModificarControlEconomico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseListarServicioDeportivo</display-name>
    <servlet-name>ClaseListarServicioDeportivo</servlet-name>
    <servlet-class>controladores.ClaseListarServicioDeportivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseListarServicioDeportivo</servlet-name>
    <url-pattern>/ClaseListarServicioDeportivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseModificarServicioDeportivo</display-name>
    <servlet-name>ClaseModificarServicioDeportivo</servlet-name>
    <servlet-class>controladores.ClaseModificarServicioDeportivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseModificarServicioDeportivo</servlet-name>
    <url-pattern>/ClaseModificarServicioDeportivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprendiendoSesion</display-name>
    <servlet-name>AprendiendoSesion</servlet-name>
    <servlet-class>controladores.AprendiendoSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprendiendoSesion</servlet-name>
    <url-pattern>/AprendiendoSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseSesion</display-name>
    <servlet-name>ClaseSesion</servlet-name>
    <servlet-class>controladores.ClaseSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseSesion</servlet-name>
    <url-pattern>/ClaseSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controladores.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseReservarConAforo</display-name>
    <servlet-name>ClaseReservarConAforo</servlet-name>
    <servlet-class>controladores.ClaseReservarConAforo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseReservarConAforo</servlet-name>
    <url-pattern>/ClaseReservarConAforo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseListarServicioDeportivoUsuario</display-name>
    <servlet-name>ClaseListarServicioDeportivoUsuario</servlet-name>
    <servlet-class>controladores.ClaseListarServicioDeportivoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseListarServicioDeportivoUsuario</servlet-name>
    <url-pattern>/ClaseListarServicioDeportivoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseVerDatosUsuario</display-name>
    <servlet-name>ClaseVerDatosUsuario</servlet-name>
    <servlet-class>controladores.ClaseVerDatosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseVerDatosUsuario</servlet-name>
    <url-pattern>/ClaseVerDatosUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseUsuarioModificaSuPerfil</display-name>
    <servlet-name>ClaseUsuarioModificaSuPerfil</servlet-name>
    <servlet-class>controladores.ClaseUsuarioModificaSuPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseUsuarioModificaSuPerfil</servlet-name>
    <url-pattern>/ClaseUsuarioModificaSuPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseSaldoUsuarioIndividual</display-name>
    <servlet-name>ClaseSaldoUsuarioIndividual</servlet-name>
    <servlet-class>controladores.ClaseSaldoUsuarioIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseSaldoUsuarioIndividual</servlet-name>
    <url-pattern>/ClaseSaldoUsuarioIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarSaldo</display-name>
    <servlet-name>ListarSaldo</servlet-name>
    <servlet-class>controladores.ListarSaldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarSaldo</servlet-name>
    <url-pattern>/ListarSaldo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseUsuarioListaServicio</display-name>
    <servlet-name>ClaseUsuarioListaServicio</servlet-name>
    <servlet-class>controladores.ClaseUsuarioListaServicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseUsuarioListaServicio</servlet-name>
    <url-pattern>/ClaseUsuarioListaServicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>controladores.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaseReservaConAforoUsuario</display-name>
    <servlet-name>ClaseReservaConAforoUsuario</servlet-name>
    <servlet-class>controladores.ClaseReservaConAforoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaseReservaConAforoUsuario</servlet-name>
    <url-pattern>/ClaseReservaConAforoUsuario</url-pattern>
  </servlet-mapping>
</web-app>